<div class="row">
    <div class="col-md-12 text-right mb-3">
        <button class="btn btn-primary" routerLink="/orders/orderslist" routerLinkActive="router-link-active" >Back</button>
    </div>
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3>
                <b>Order Detail</b>
                <span class="pull-right">#5669626</span>
            </h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <!-- <h3>To,</h3> -->
                            <h4 class="font-bold">Gaala & Sons,</h4>
                            <p class="text-muted m-l-30">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                          
                        </address>
                        <!-- <address>
                            <h3> &nbsp;
                                <b class="text-Primary">Cella</b>
                            </h3>
                            <p class="text-muted m-l-5">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                        </address> -->
                    </div>
                    <div class="pull-right text-right">
                        <!-- <address>
                            <h3>To,</h3>
                            <h4 class="font-bold">Gaala & Sons,</h4>
                            <p class="text-muted m-l-30">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                            <p class="m-t-30">
                                <b>Order Date :</b>
                                <i class="fa fa-calendar"></i> 23rd Jan 2017</p>
                            <p>
                                <b>Delivery Date :</b>
                                <i class="fa fa-calendar"></i> 25th Jan 2017</p>
                        </address> -->
                        <p class="m-t-30">
                            <b>Order Date :</b>
                            <i class="fa fa-calendar"></i> 23rd Jan 2017</p>
                        <p>
                            <b>Delivery Date :</b>
                            <i class="fa fa-calendar"></i> 25th Jan 2017</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Description</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Unit Cost</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Small Bin</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $24 </td>
                                    <td class="text-right"> $48 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Medium Bin</td>
                                    <td class="text-right"> 3 </td>
                                    <td class="text-right"> $500 </td>
                                    <td class="text-right"> $1500 </td>
                                </tr>                              
                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $3,848</p>
                        <p>vat (10%) : $38 </p>
                        <hr>
                        <h3>
                            <b>Total :</b> $3,986</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!-- <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                        <button id="print" class="btn btn-default btn-outline" type="button">
                            <span>
                                <i class="fa fa-print"></i> Print</span>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>