<div class=" m-b-30">
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div routerLink="/users/userlist" class="col-12">
                    <h2 class="m-b-0">
                    <i class="mdi mdi-account-multiple text-info"></i>
                    </h2>
                    <h3 class="">{{items}}</h3>
                    <h6  class="card-subtitle">Total Users</h6>
                </div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="info" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-alert-circle text-success"></i>
                    </h2>
                    <h3 class="">1546</h3>
                    <h6 class="card-subtitle">Total Newsletters</h6>
                </div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="success" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <!-- <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-wallet text-purple"></i>
                    </h2>
                    <h3 class="">$24561</h3>
                    <h6 class="card-subtitle">Total Revenue</h6>
                </div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="primary" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <!-- Column -->
    <!-- <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-buffer text-warning"></i>
                    </h2>
                    <h3 class="">300</h3>
                    <h6 class="card-subtitle">Total Orders</h6>
                </div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="warning" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div> -->
</div>