<div class="row mb-3">
    <div class="col-md-12 border-bottom">
        <h3>Subscription Plan</h3>
    </div>
</div>

<form action="">
    <div class="form-group">
        <label>Package Name</label>
        <input type="text" placeholder="Package Name" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Package Price</label>
        <input type="number" placeholder="Package Price" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Free Order</label>
        <input type="number" placeholder="Free Orders" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Limit Consumed</label>
        <input type="number" placeholder="Limit Consumed" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Additional Charges after limit consumed</label>
        <input type="number" placeholder="Limit Consumed" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Validity</label>
        <input type="number" placeholder="Limit Consumed" class="form-control" name="" id="" />
    </div>
    <div class="form-group">
        <label>Remaining Order</label>
        <input type="number" placeholder="Remaining Order" class="form-control" name="" id="" />
    </div>
    <button class="btn btn-primary" mat-dialog-close>Save</button>
</form>