
      <div class="card">  
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">             
                <div class="">
                  <input type="text" class="form-control" id="prenametext" placeholder="Search">
                </div>              
            </div>
            <div class="col-md-8  text-right">
              <div ngbDropdown class="d-inline-block">
                <button
                  class="btn btn-outline-primary btn-sm mr-2"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                 All
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">ALL</button>
                  <button class="dropdown-item">Active</button>
                  <button class="dropdown-item">Inactive</button>
                </div>
              </div>
              <button class="btn btn-primary  btn-sm"><i class="sl-icon-cloud-download"></i> Export CSV</button>
              <!-- <button class="btn btn-seconadary mb-2" (click)="addUserModal(addUser)"><i class="sl-icon-plus"></i> Add
                User</button> -->
            </div>
          </div>
       
       
  
    <div class="table-responsive">
        <table class="table">
            <tr>
            <th class="text-nowrap">#</th>
            <th class="text-nowrap">First Name</th>
            <th class="text-nowrap">Last Name</th>
            <th class="text-nowrap">Date of Birth</th>
            <th class="text-nowrap">Phone No.</th>
            <th class="text-nowrap">Email</th>
            <!-- <th class="text-nowrap">Address</th> -->
            <th class="text-nowrap">Status</th>
            <th class="text-nowrap">Action</th>
        </tr>
        <tr  *ngFor="let person of people">
        <td>{{person.serial_no}}</td>
        <td>{{person.firstname}}</td>
        <td>{{person.lastname}}</td>
        <td>{{person.dob}}</td>
        <td>{{person.contact}}</td>
        <td>{{person.email}}</td>
        <!-- <td>{{person.address}}</td> -->
        <td><mat-slide-toggle></mat-slide-toggle></td>
        
        <td>
          <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
              Action
            </button>

            <div *ngIf="person.action==0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" routerLink="/pages/users_detail"><i class="ti-eye"></i>
                Accept
              </a>
              <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                  class="ti-marker-alt"></i> Edit</button>

              <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                Reject</button>
            </div>

            <div *ngIf="person.action==1" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" routerLink="/users/useredit"><i class="ti-marker-alt"></i>
                Edit</button>
              <!-- <a class="dropdown-item" routerLink="/users/userdetail"><i class="ti-eye"></i>
                View
              </a> -->

              <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                Delete</button>
            </div>
          </div>
        </td>
        </tr>
        </table>
    </div>
  </div>
</div>
  
  
    <!-- delete modal -->
    <ng-template #userDelete let-modal>
      <div class="modal-body">
        <p>Are you sure want to delete this user?</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary mr-2" aria-label="Close"
            (click)="modal.dismiss('Cross click')">Yes</button>
          <button type="button" class="btn btn-seconadary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">No</button>
        </div>
      </div>
    </ng-template>
  
   