
      <div class="card">  
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">             
                <div class="">
                  <input type="text" class="form-control" id="prenametext" placeholder="Search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (keyup.enter)="getAllUsers($event)" >
                </div>              
            </div>
            <div class="col-md-8  text-right">
              <!-- <div ngbDropdown class="d-inline-block">
                <button
                  class="btn btn-outline-primary btn-sm mr-2"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                 All
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="getAllUsers('')"  class="dropdown-item">All</button>
                 
                  <button (click)="getAllUsers('active')"  class="dropdown-item">Active</button>
                  <button (click)="getAllUsers('inActive')"  class="dropdown-item">Inactive</button>
                </div>
              </div> -->
              <button  class="btn btn-primary  btn-sm"><i class="sl-icon-cloud-download"></i> Export CSV</button>
              <!-- <button class="btn btn-seconadary mb-2" (click)="addUserModal(addUser)"><i class="sl-icon-plus"></i> Add
                User</button> -->
            </div>
          </div>
       
       
  
    <div class="table-responsive">
        <table class="table">
            <tr>
            <th class="text-nowrap">#</th>
            <th class="text-nowrap"> Name</th>
          
            <th class="text-nowrap">Date of Birth</th>
            <th class="text-nowrap">Phone No.</th>
            <th class="text-nowrap">Email</th>
            <!-- <th class="text-nowrap">Address</th> -->
            <th class="text-nowrap">Status</th>
            <th class="text-nowrap">Action</th>
        </tr>
        <tr  *ngFor="let user of userDetails, index as i">
          <td>
            {{i+limit*page+1}}
          </td>
        <td>{{user?.name}}</td>
       
        <td>{{user.dob | date: 'dd'}}/{{user.dob | date:'MM'}}/{{user.dob | date: 'yyyy'}}</td>
        <td>{{user?.phone}}</td>
        <td>{{user?.email}}</td>
        <!-- <td>{{person.address}}</td> -->
        <td>   <mat-slide-toggle *ngIf="edit || a==1" [checked]="user?.isBlocked" (change)="changeStatus($event,user._id)">
        </mat-slide-toggle></td>
        
        <td>
          <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
              Action
            </button>


            <div *ngIf="edit || delete || a==1"  ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngIf="edit || a==1" class="dropdown-item" routerLink="/users/userlist/edit/{{user._id}}"><i class="ti-marker-alt"></i>
                Edit</button>
           

              <button *ngIf="delete || a==1" (click)="deleteUser(user._id)" class="dropdown-item" ><i class="ti-trash"></i>
                Delete</button>
            </div>
          </div>
        </td>
        </tr>
        </table>
        <div class="no-found" *ngIf="userDetails?.length == 0">
          <h4>No data found</h4>
        </div>
    </div>
    <mat-paginator *ngIf="userDetailsCount && userDetailsCount>0" [pageIndex]="page" [length]="userDetailsCount" (page)="handlePageEvent($event)"
      [pageSize]="limit" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
  
  
    <!-- delete modal -->
    <ng-template #userDelete let-modal>
      <div class="modal-body">
        <p>Are you sure want to delete this user?</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary mr-2" aria-label="Close"
            (click)="modal.dismiss('Cross click')">Yes</button>
          <button type="button" class="btn btn-seconadary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">No</button>
        </div>
      </div>
    </ng-template>
  
   