<div class="card">
  <div class="card-body">
    <ul class="pl-0 volume_element">
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck2"
              type="checkbox"><label class="custom-control-label" for="customCheck2">Save the Date</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck3"
              type="checkbox"><label class="custom-control-label" for="customCheck3">The Health Check</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck4"
              type="checkbox"><label class="custom-control-label" for="customCheck4">The peak</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck5"
              type="checkbox"><label class="custom-control-label" for="customCheck5">My Pit</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck6"
              type="checkbox"><label class="custom-control-label" for="customCheck6">The Snapshot</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck7"
              type="checkbox"><label class="custom-control-label" for="customCheck7"> My Jam</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck8"
              type="checkbox"><label class="custom-control-label" for="customCheck8">The Recommendation</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck9"
              type="checkbox"><label class="custom-control-label" for="customCheck9">The Lesson</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck9a"
              type="checkbox"><label class="custom-control-label" for="customCheck9a">The forecast</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck10"
              type="checkbox"><label class="custom-control-label" for="customCheck10">Free Space</label>
          </div>
        </div>
      </li>
      <li class="col-md-4">
        <div class="volume_element_group">
          <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck11"
              type="checkbox"><label class="custom-control-label" for="customCheck11">Free Space</label>
          </div>
        </div>
      </li>
      <!-- <li class="col-md-4">
        <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck12"
            type="checkbox"><label class="custom-control-label" for="customCheck12">Free Space</label>
        </div>
      </li> -->
    </ul>
    <div class="pl-2 pb-3">
      <button class="btn btn-primary">Save</button>
    </div>
    <h3 class="pl-2">Cadence</h3>
    <ul class="pl-0 volume_element">
        <li class="col-md-4">
            <div class="volume_element_group">
              <div class="custom-control custom-checkbox"><input class="custom-control-input" id="cadence1"
                  type="checkbox"><label class="custom-control-label" for="cadence1">07 Days Weekly</label>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="volume_element_group">
              <div class="custom-control custom-checkbox"><input class="custom-control-input" id="cadence2"
                  type="checkbox"><label class="custom-control-label" for="cadence2">14 Days Bi-Weekly</label>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="volume_element_group">
              <div class="custom-control custom-checkbox"><input class="custom-control-input" id="cadence3"
                  type="checkbox"><label class="custom-control-label" for="cadence3">30 Days Monthly</label>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="volume_element_group">
              <div class="custom-control custom-checkbox"><input class="custom-control-input" id="cadence4"
                  type="checkbox"><label class="custom-control-label" for="cadence4">90 Days Quarterly </label>
              </div>
            </div>
          </li>
    </ul>
    <div class=" pl-2">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
