<div class="card">
  <div class="card-body">
      <div class="row mb-3">
          <div class="col-md-12 text-right ">
              <button class="btn btn-primary btn-sm" routerLink="/product/addproduct">Add</button>
          </div>
      </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 mb-3">
        <div class="row bg-light p-2 no-gutters">
          <div class="col-md-6">
            <!-- <h4 class="card-title">Product Image</h4> -->
            <ngb-carousel class="product-carousal">
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-6 ">
            <ul class="px-3">
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Name:</span> Locker</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Quantity :</span> 5</li>
              <li class="mb-2"><span class="font-weight-bold mr-2">Description :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit, facilis, nostrum magni doloribus pariatur </li>
              <li> <button class="btn btn-primary btn-sm mt-2" routerLink="/product/addproduct">Edit</button></li>
              <!-- <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
                        <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-3">
        <div class="row bg-light p-2 no-gutters">
          <div class="col-md-6">
            <!-- <h4 class="card-title">Product Image</h4> -->
            <ngb-carousel class="product-carousal">
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-6">
            <ul class="px-3">
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Name:</span> Locker</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Quantity :</span> 5</li>
              <li class="mb-2"><span class="font-weight-bold mr-2">Description :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit, facilis, nostrum magni doloribus pariatur </li>
              <li> <button class="btn btn-primary btn-sm mt-2" routerLink="/product/addproduct">Edit</button></li>
              <!-- <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
                        <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-3">
        <div class="row bg-light p-2 no-gutters">
          <div class="col-md-6">
            <!-- <h4 class="card-title">Product Image</h4> -->
            <ngb-carousel class="product-carousal">
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-6">
            <ul class="px-2">
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Name:</span> Locker</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Quantity :</span> 5</li>
              <li class="mb-2"><span class="font-weight-bold mr-2">Description :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit, facilis, nostrum magni doloribus pariatur </li>
              <li> <button class="btn btn-primary btn-sm mt-2" routerLink="/product/addproduct">Edit</button></li>
              <!-- <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
                        <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-3">
        <div class="row bg-light p-2 no-gutters">
          <div class="col-md-6">
            <!-- <h4 class="card-title">Product Image</h4> -->
            <ngb-carousel class="product-carousal">
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/gallery/locker1.jpeg">
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-6">
            <ul class="px-3">
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Name:</span> Locker</li>
              <li class="d-flex mb-2"><span class="font-weight-bold mr-2">Product Quantity :</span> 5</li>
              <li class="mb-2"><span class="font-weight-bold mr-2">Description :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit, facilis, nostrum magni doloribus pariatur </li>
              <li> <button class="btn btn-primary btn-sm mt-2" routerLink="/product/addproduct">Edit</button></li>
              <!-- <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li>
                        <li class="d-flex"><span class="font-weight-bold mr-2">Product Category:</span> Small Bin</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
