<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-primary mb-3" routerLink="/users/userlist">Back</button>
  </div>
</div>
<div class="card">
    <form [formGroup]="userForm">
      <div class="form-body">
        <div class="card-body">         
          <div class="row p-t-20">
            <!-- <div class="col-md-6">
               <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">
  
              </div> 
            </div> 
           -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Name</label>
                <input type="text" id="firstName" class="form-control" formControlName="name" placeholder="Name">
                <mat-error *ngIf="  isSubmitted && userForm.controls['name'].hasError('required')">
                  Name is required
              </mat-error>
              <mat-error *ngIf="  isSubmitted && userForm.controls['name'].hasError('minlength')">
                Minimum length of name should be 2 characters
            </mat-error>
            <mat-error *ngIf="  isSubmitted && userForm.controls['name'].hasError('maxlength')">
              Maximum  length of name should be 20 characters
          </mat-error>
          <mat-error *ngIf="  isSubmitted && userForm.controls['name'].hasError('pattern') && !userForm.controls['name'].hasError('minlength') && !userForm.controls['name'].hasError('maxlength') ">
            Valid Name is required
        </mat-error>
  
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label">Upload User Profile</label>
                  <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file" accept=".png, .jpg, .jpeg" name="image"  (change)="onChange($event)"
                      ><label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      <figure *ngIf="url" class="uploadimg"> <img   [src]="url" height="50" width="50"></figure>
                      <!-- <figure *ngIf="!url"><img   [src]="" > </figure>   -->
                    <mat-error *ngIf="  isSubmitted && userForm.controls['image'].hasError('required')">
                        Image is required
                    </mat-error>
                    </div>
                    
                </div>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <input type="date" id="firstName" class="form-control" formControlName="dob" placeholder="Date of Birth">
                <mat-error *ngIf="  isSubmitted && userForm.controls['dob'].hasError('required')">
                  Date of Birth is required
              </mat-error>
  
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input type="text" id="firstName" class="form-control" formControlName="phone" placeholder="Phone Number">
                <mat-error *ngIf="  isSubmitted && userForm.controls['phone'].hasError('required')">
                  Phone Number is required
              </mat-error>
              <mat-error *ngIf="  isSubmitted && userForm.controls['phone'].hasError('maxlength')">
                Maximum  length of phone should be 15 
            </mat-error>
            <mat-error *ngIf="  isSubmitted && userForm.controls['phone'].hasError('minlength')">
              Minimum  length of phone should be 7 
          </mat-error>
          <mat-error *ngIf="  isSubmitted && userForm.controls['phone'].hasError('pattern') && !userForm.controls['phone'].hasError('minlength') && !userForm.controls['phone'].hasError('maxlength') ">
          Valid Phone Number is required 
        </mat-error>
  
              </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" id="firstName" class="form-control" formControlName="email" placeholder="Email">
                <mat-error *ngIf="  isSubmitted && userForm.controls['email'].hasError('required')">
                  Email is required
              </mat-error>
              <mat-error *ngIf="  isSubmitted && userForm.controls['email'].hasError('pattern')">
                Valid Email is required
            </mat-error>
  
              </div>
            </div>
          </div>
          <!--/row-->
          <div class="row ">
            
            <!--/span-->
            <!-- <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">User ID</label>
                <input type="text" id="email" class="form-control " placeholder="#46543343">
              </div>
            </div> -->
            <!--/span-->
            <!-- <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Total Booking</label>
                <input type="text" id="email" class="form-control " placeholder="40">
              </div>
            </div> -->
            <!--/span-->
            <!-- <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Cancelled Booking</label>
                <input type="text" id="email" class="form-control " placeholder="00">
              </div>
            </div> -->
            <!--/span-->
            <!-- <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Completed Booking</label>
                <input type="text" id="email" class="form-control" placeholder="40">
              </div>
            </div> -->
            <!--/span-->
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Total Sales</label>
                <input type="text" id="city" class="form-control " placeholder="&euro; 445">
              </div>
            </div> -->
            <!--/span-->
            <!-- <div class="col-md-6">
                <div class="form-group ">
                  <label class="control-label">Change Password</label>
                  <input type="Password" id="email" class="form-control " placeholder="*******">
                </div>
              </div> -->
            <!--/span-->
             <!-- <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Re-enter Password</label>
                <input type="Password" id="email" class="form-control" placeholder="*******">
              </div>
            </div> -->
          <!--/span-->
            <!-- <div class="col-md-12">
              <div class="form-group ">
                <label class="control-label">Address</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"
                  placeholder="#433 New garden Complex"></textarea>
              </div>
            </div> -->
            <!--/span-->
          </div>
          <!--/row-->
        </div>
  
        <div class="form-actions">
          <div class="card-body">
            <button type="submit" (click)="editUser()" class="btn btn-primary mr-3" > Save</button>
           
          </div>
        </div>
      </div>
    </form>
  </div>