.logo{
    .logo-text{
        width: 90px;
    }
    .logo-icon{
        width:60px
    }
}
.logo-box{
    margin: 0px auto;
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    img{
        max-width: 100%;
    width: 110px;
    }
}