
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" (click)="addsubscriptionModal()">Add</button>
                        <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
                    </div>
                </div>
                <div class="row pricing-plan">
                    <div class="col-md-4 col-xs-12 col-sm-4 no-padding">
                        <div class="pricing-box">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <h4 class="text-center">Standard </h4>
                                    <h2 class="text-center">
                                        <span class="price-sign">$</span>24</h2>
                                    <p class="text-uppercase">1 month</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row">
                                     2 Free Orders</div>
                                    <div class="price-row">
                                       20 Limit Consumed</div>
                                       <div class="price-row">
                                        $5 Addition Charges</div>
                                    <div class="price-row">
                                      3 Remaining Orders </div>
                                    <!-- <div class="price-row">
                                        <i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row">
                                        <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                                    </div> -->
                                </div>
                                <button class="btn btn-primary"  (click)="addsubscriptionModal()">Edit</button>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-4 col-xs-12 col-sm-4 ">
                        <div class="pricing-box ">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <!-- <h4 class="price-lable text-white bg-warning"> Popular</h4> -->
                                    <h4 class="text-center">Premium </h4>
                                    <h2 class="text-center">
                                        <span class="price-sign">$</span>45</h2>
                                    <p class="text-uppercase">6 Months</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row">
                                        2 Free Orders</div>
                                    <div class="price-row">
                                        20 Limit Consumed</div>
                                        <div class="price-row">
                                            $5 Addition Charges</div>
                                    <div class="price-row">
                                         3 Remaining Orders </div>
                                    <!-- <div class="price-row">
                                        <i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row">
                                        <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                                    </div> -->
                                </div>
                                <button class="btn btn-primary"  (click)="addsubscriptionModal()">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-4 no-padding">
                        <div class="pricing-box b-l">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <h4 class="text-center">Enterprise </h4>
                                    <h2 class="text-center">
                                    <span class="price-sign">$</span>34</h2>
                                    <p class="text-uppercase">Yearly</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row">
                                        2 Free Orders</div>
                                    <div class="price-row">
                                        20 Limit Consumed</div>
                                        <div class="price-row">
                                            $5 Addition Charges</div>
                                    <div class="price-row">
                                        <!-- <i class="icon-drawar"></i>  -->
                                        3 Remaining Orders </div>
                                    <!-- <div class="price-row">
                                        <i class="icon-refresh"></i> Monthly Backups</div>
                                    <div class="price-row">
                                        <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                                    </div> -->
                                </div>
                                <button class="btn btn-primary"  (click)="addsubscriptionModal()">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  