<div class="card">
  <div class="card-body">
    <div class="card-group">   
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="m-r-10"><span class="btn btn-circle btn-lg btn-info"><i class="ti-wallet text-white"></i></span>
            </div>
            <div> Total Earnings </div>
            <div class="ml-auto">
              <h2 class="m-b-0 font-light">$1060</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="m-r-10"><span class="btn btn-circle btn-lg bg-success"><i
                  class="mdi mdi-credit-card-multiple text-white"></i></span></div>
            <div> Total payment recived by card </div>
            <div class="ml-auto">
              <h2 class="m-b-0 font-light">$430</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="m-r-10"><span class="btn btn-circle btn-lg bg-warning"><i
                  class="mdi mdi-currency-usd text-white"></i></span></div>
            <div> Total payment recived by cash </div>
            <div class="ml-auto">
              <h2 class="m-b-0 font-light">$630</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
      <table class="table">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Date</th>
            <th>Recipient</th>
            <th>Email</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>#345644</td>
            <td>June 1, 2020, 08:22 AM</td>
            <td>David John</td>
            <td>david@yopmail.com</td>
            <td><span class="badge bg-theme text-white px-2">Cash</span></td>
            <td>$100</td> 
            <td><button class="btn btn-success btn-sm text-white">Completed</button></td>           
        </tr>
        <tr>
            <td>2</td>
            <td>#536544</td>
            <td>June 1, 2020, 08:22 AM</td>
            <td>David John</td>
            <td>david@yopmail.com</td>
            <td><span class="badge bg-secondary text-white px-2">Card</span></td>
            <td>$500</td> 
            <td><button class="btn btn-success btn-sm text-white">Completed</button></td>           
        </tr>
        <tr>
            <td>3</td>
            <td>#345644</td>
            <td>June 1, 2020, 08:22 AM</td>
            <td>David John</td>
            <td>david@yopmail.com</td>
            <td><span class="badge bg-theme text-white px-2">Cash</span></td>
            <td>$1000</td> 
            <td><button class="btn btn-success btn-sm text-white">Completed</button></td>           
        </tr>
      </table>
  </div>
</div>
