<!-- <h4>{{message}}</h4>

<div class="d-flex mt-3">
    <div>
        <button class="btn btn-primary" (click)="onProcced()">Submit</button>
    </div>
    <div class="ml-auto">
        <a href="javascript:void(0)" (click)="onReset()">Resend OTP</a>
    </div>
</div> -->
<div mat-dialog-content>
    <div class="singin_content recoverpassword verfiy">
        <!-- <div class="signin_left">
            <figure><img src="assets/images/recoverpassword.jpg"></figure>
        </div> -->
        <div class="signin_right otp-screen">
            <!-- <div mat-dialog-actions>
                -<button mat-button (click)="onNoClick()">No Thanks</button>
                <button mat-button cdkFocusInitial>
                    <figure><img src="assets/images/cross.png"></figure>
                </button>
            </div> -->
            <div class="signin_right_inner">
                <h3 class="otp-text">Enter the 4-digit code</h3>
                <div class="input_field">
                    <form [formGroup]="otpForm" >
                        <ul class="signin_form">
                            <li>
                                <input type="number" placeholder="Enter code" formControlName="otp" (keyup)="check($event)" >
                                <mat-error *ngIf="  isSubmitted && otpForm.controls['otp'].hasError('required')">OTP 
                                    is
                                    required</mat-error>
                             
                            </li>
                        </ul>

                        <div class="signup-btngroup">
                            <button (click)="verifyOtp()" class="btn btn-primary" >Verify OTP</button>
                            <!-- <button class="btn btn-outline" >Resend Code</button> -->
                            </div>
                        <!-- <button class="signin_btn" [mat-dialog-close]="data.animal" cdkFocusInitial>Verify</button>
                        <div class="facebook_connection">
                            <h4>I haven’t received a code</h4>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
