
<!-- 
    <div class="singin_content recoverpassword verfiy">
  
        <div class="signin_right otp-screen">
     
            <div class="signin_right_inner">
                <h3 class="otp-text">Enter the 4-digit code</h3>
                <div class="input_field">
                    <form [formGroup]="otpForm" >
                        <ul class="signin_form">
                            <li>
                                <input type="text" placeholder="Enter code" formControlName="otp"   (keypress)="phoneNoInput($event)" maxlength="4"  >
                            </li>
                                <mat-error *ngIf="  isSubmitted && otpForm.controls['otp'].hasError('required')">OTP 
                                    is
                                    required</mat-error>
                                    <mat-error *ngIf="  isSubmitted && otpForm.controls['otp'].hasError('minlength')"> Length of 
                                        OTP should be 4 digits 
                                        
                                        </mat-error>
                             
                        
                        </ul>

                        <div class="signup-btngroup">
                            <button (click)="verifyOtp()" class="btn btn-primary" >Verify OTP</button>
                          
                            </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="login-register align-items-center d-flex" style="background-image:url(assets/images/background/login-register.jpg);">
        <div class="login-box  card">
          <div class="card-body">
            <form [formGroup]="otpForm"  class="form-horizontal form-material" id="loginform">
              <h3 class="box-title m-b-20">Enter the 4 digit code</h3>
              <div class="form-group ">
                <div class="col-xs-12">
                  <input class="form-control" type="text"  placeholder="Enter code" formControlName="otp"  (keypress)="phoneNoInput($event)" maxlength="4">
                  <mat-error *ngIf="  isSubmitted && otpForm.controls['otp'].hasError('required')">Otp 
                    is
                    required</mat-error>
                    <mat-error *ngIf="  isSubmitted && otpForm.controls['otp'].hasError('minlength')"> Length of 
                        OTP should be 4 digits </mat-error> 
                    </div>
              </div>
          
            
              <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                  <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" 
                    (click)="verifyOtp()">Verify OTP</button>
                </div>
              </div>

            </form>
      
          </div>
        </div>
      </div>
