<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" routerLink="/subadmin/adminlist">Back</button>
            </div>
        </div>
        <form [formGroup]="editSubAdmin">
            <div class="form-body">
              <div class="card-body">
                <div class="row p-t-20">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <input type="text" id="firstName" class="form-control" placeholder="Name" formControlName="name"> 
                      <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['name'].hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['name'].hasError('minlength')">
                      Minimum length of name should be 2 characters
                  </mat-error>
                  <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['name'].hasError('maxlength')">
                    Maximum  length of name should be 20 characters
                </mat-error>
                <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['name'].hasError('pattern') && !editSubAdmin.controls['name'].hasError('minlength') && !editSubAdmin.controls['name'].hasError('maxlength') ">
                  Valid Name is required
              </mat-error>
  
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-success">
                      <div class="form-group">
                        <label class="control-label">Upload Profile</label>
                        <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file" accept=".png, .jpg, .jpeg" name="image"  (change)="onChange($event)"  ><label
                            class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            <figure *ngIf="url" class="uploadimg"> <img   [src]="url" height="50" width="50"></figure>
                            <!-- <figure *ngIf="!url"><img   [src]="" > </figure>   -->
                          <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['image'].hasError('required')">
                              Image is required
                          </mat-error></div>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <!--/row-->
                <div class="row ">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Contact No</label>
                      <input type="text" id="firstName" class="form-control" placeholder="Contact No." formControlName="phone">
                      <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['phone'].hasError('required')">
                        Phone Number is required
                    </mat-error>
                    <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['phone'].hasError('maxlength')">
                      Maximum  length of phone should be 15 
                  </mat-error>
                  <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['phone'].hasError('minlength')">
                    Minimum  length of phone should be 7 
                </mat-error>
                <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['phone'].hasError('pattern') && !editSubAdmin.controls['phone'].hasError('minlength') && !editSubAdmin.controls['phone'].hasError('maxlength') ">
                Valid Phone Number is required 
              </mat-error>
  
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="control-label">Email</label>
                      <input type="email" id="email" class="form-control"
                        placeholder="Email" formControlName="email">
                        <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['email'].hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="  isSubmitted && editSubAdmin.controls['email'].hasError('pattern')">
                          Valid Email is required
                      </mat-error>
  
                    </div>
                  </div>
                
                </div>
           
              
                <div class="table-responsive mt-3">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                            
                        </tr>
                        <tbody>
                        <tr *ngFor="let data of permissionArray">
                            <td>{{data?.label}}</td>
                            <td><input  [(ngModel)]="data.isAdd" (change)="check(data)" type="checkbox" [ngModelOptions]="{standalone: true}" ></td>
                            <td><input [(ngModel)]="data.isEdit" (change)="check(data)"  type="checkbox" [ngModelOptions]="{standalone: true}"   ></td>
                            <td><input  [disabled]="data.label=='Dashboard' || data.isAdd || data.isEdit || data.isDelete " [(ngModel)]="data.isView" type="checkbox" [ngModelOptions]="{standalone: true}" ></td>
                            <td><input  (change)="check(data)"  [(ngModel)]="data.isDelete" type="checkbox" [ngModelOptions]="{standalone: true}"></td>
                            <!-- <th>Name</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                            
                        </tr>
                        <tbody>
                            <tr>
                                <td>Dashboard</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck1" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck2" type="checkbox">
                                        <label class="custom-control-label" for="customCheck2"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck1a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1a"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck2a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck2a"></label>
                                    </div>
                                 </td>
                            </tr>
                            <tr>
                                <td>Users</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck3" type="checkbox">
                                        <label class="custom-control-label" for="customCheck3"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck4" type="checkbox">
                                        <label class="custom-control-label" for="customCheck4"></label>
                                    </div>
                                 </td>  
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck1aw" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1aw"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck4a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck4a"></label>
                                    </div>
                                 </td>                            
                            </tr>
                          
                          
                         
                            <tr>
                                <td> Support </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck18" type="checkbox">
                                        <label class="custom-control-label" for="customCheck18"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck19" type="checkbox">
                                        <label class="custom-control-label" for="customCheck19"></label>
                                    </div>
                                 </td>  
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck8a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck8a"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck29a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck29a"></label>
                                    </div>
                                 </td>  
                            </tr>
                       
                            <tr>
                                <td> Group Form </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck22" type="checkbox">
                                        <label class="custom-control-label" for="customCheck22"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck23" type="checkbox">
                                        <label class="custom-control-label" for="customCheck23"></label>
                                    </div>
                                 </td>    
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck22a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck22a"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck23a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck23a"></label>
                                    </div>
                                 </td>
                            </tr>
                            <tr>
                                <td> Notification </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck24" type="checkbox">
                                        <label class="custom-control-label" for="customCheck24"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck25" type="checkbox">
                                        <label class="custom-control-label" for="customCheck25"></label>
                                    </div>
                                 </td>  
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck24a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck24a"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck25a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck25a"></label>
                                    </div>
                                 </td>  
                            </tr>
                            <tr>
                                <td> Sub Admin </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck26" type="checkbox">
                                        <label class="custom-control-label" for="customCheck26"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck27" type="checkbox">
                                        <label class="custom-control-label" for="customCheck27"></label>
                                    </div>
                                 </td>    
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck27a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck27a"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck28a" type="checkbox">
                                        <label class="custom-control-label" for="customCheck28a"></label>
                                    </div>
                                 </td>
                            </tr>
                            <tr>
                                <td> CMS Pages </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck282" type="checkbox">
                                        <label class="custom-control-label" for="customCheck282"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck292" type="checkbox">
                                        <label class="custom-control-label" for="customCheck292"></label>
                                    </div>
                                 </td>   
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck1eaw" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1eaw"></label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="custom-control custom-checkbox">
                                        <input   class="custom-control-input" id="customCheck2a2" type="checkbox">
                                        <label class="custom-control-label" for="customCheck2a2"></label>
                                    </div>
                                 </td>  -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-actions ">
                    <button (click)="updateSubAdmin()" type="submit" class="btn btn-primary mr-3" >
                       Save</button>
                  </div>
                   
              </div>
  
            
            </div>
          </form>
    </div>
</div>