<div class="card">
    <div class="card-body">
        <form [formGroup]="notificationForm">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" routerLink="/notification/notificationlist">View Notification History</button>
            </div>
            
            <div class="col-md-4">
                <h4 class="mb-3">Users Notification</h4>
                
                <!-- <div class="form-group mat-form-control mat-no-animation">
                    <mat-form-field floatLabel="always" class="static-text">
                        <input matInput disabled placeholder="Push Notification" value="Push Notification" />
                      </mat-form-field>                     
                </div>
                <div class="form-group mat-form-control mat-no-animation">
                    <mat-form-field floatLabel="always" class="static-text">
                        <input matInput disabled placeholder="Notification Type Users" value="Notification Type Users" />
                      </mat-form-field>                     
                </div> -->
                <!-- <div class="d-flex">
                    <div class="form-group mat-form-control mat-no-animation col-6 pl-0 pr-1">
                        <label for="">Add Name</label>
                        <mat-form-field >
                            <mat-label>Add User Name</mat-label>
                            <mat-select [formControl]="toppings" multiple>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group mat-form-control mat-no-animation col-6 pr-0 pl-1">
                        <label for="">Add ID</label>
                        <mat-form-field >
                            <mat-label>Add User ID</mat-label>
                            <mat-select [formControl]="toppings" multiple>
                                <mat-option *ngFor="let topping of toppingId" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>               -->
                <div class="form-group">
                    <label>Add Heading</label>
                   <input type="text" placeholder="" formControlName="heading" class="form-control">
                   <mat-error *ngIf="  isSubmitted && notificationForm.controls['heading'].hasError('required')">
                    Heading is required
                </mat-error>
                </div>
              <div class="form-group">
                  <label>Add Message</label>
                  <textarea name="" id="" cols="30" formControlName="message" rows="5" class="form-control"></textarea>
                  <mat-error *ngIf="  isSubmitted && notificationForm.controls['message'].hasError('required')">
                    Message is required
                </mat-error>
              </div>
            </div>
         <div class="col-md-12">
             <button (click)="sendNotification()" class="btn btn-primary">Send</button>
             
         </div>
        </div>
        </form>
    </div>
</div>
