/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.src_bx {
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.src_bx i {
  font-size: 20px;
  margin: 0px auto;
}
.src_bx input {
  width: 90%;
  border: none;
}

.src_bx .form-control:focus {
  box-shadow: none;
}
mat-error {
  color: red;
}
