
    <div>
    <div class="row no-gutters faq-box" *ngFor="let data of faq1 ">
        <div class="col-md-11">
            <div class="faq-content">
                <h4>{{data?.question}}</h4>
                <p class="mb-0">{{data?.answer}}</p>
            </div>
        </div>
        <div class="col-md-1 text-right">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" (click)="editFaq(userDetail,data._id)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-sm ml-2" (click)=" deleteFaq(data._id)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    <button (click)="addnewFaq(usersDetail)" class="btn btn-primary common-btn mt-3" >Add</button>
</div>
    <ng-template #userDetail let-modal>
        <div class="modal-body">
          <div class="card">
            <form [formGroup]="editForm">
              <div class="form-body">
                <div class="card-body">
                  <div class="row p-t-20">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label"> Question</label>
                        <input type="text" id="fname" formControlName="question" class="form-control" placeholder=" Question">
                        <mat-error *ngIf="  isSubmitted && editForm.controls['question'].hasError('required')">Question  
                          is
                          required</mat-error>  
                        
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Answer</label>
                        <textarea name="" id="" cols="20" rows="5" id="lname" formControlName="answer" class="form-control" placeholder="Answer"></textarea>
                        <mat-error *ngIf="  isSubmitted && editForm.controls['answer'].hasError('required')">Answer  
                          is
                          required</mat-error>  
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                  </div>
               
                </div>
      
                <div class="form-actions">
                  <div class="card-body">
                    <button  class="btn btn-primary mr-3" (click)="updateFaq()">
                      <i class="fa fa-check"></i> Update</button>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
      
        </div>
      </ng-template>
    <ng-template #usersDetail let-modal>
        <div class="modal-body">
          <div class="card">
            <form [formGroup]="addForm">
              <div class="form-body">
                <div class="card-body">
                  <div class="row p-t-20">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label"> Question</label>
                        <input type="text" id="fname" formControlName="question1" class="form-control" placeholder=" Question">
                        <mat-error *ngIf="  isSubmit && addForm.controls['question1'].hasError('required')">Question  
                          is
                          required</mat-error>  
                        
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Answer</label>
                        <textarea name="" id="" cols="20" rows="5" id="lname" formControlName="answer1" class="form-control" placeholder="Answer">
                        </textarea> 
                        <mat-error *ngIf="  isSubmit && addForm.controls['answer1'].hasError('required')">Answer  is required</mat-error>  
                        
                      </div>
                    </div>
                  </div>
               
                  <div class="row ">
                   
                  </div>
               
                </div>
      
                <div class="form-actions">
                  <div class="card-body">
                    <button  class="btn btn-primary mr-3" (click)="AddsFaq()">
                      <i class="fa fa-check"></i> Add</button>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>      
        </div>
      </ng-template>

